@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body{font-family: 'Comfortaa', cursive;}

div.card-header {
    font-size: large;
   }
   
   div.card {
     margin-top: 10px
   }
   
   .table {
     margin-top: 10px
   }